*{/*for full screen*/
	box-sizing: border-box; 
}

body,html { /*for full screen*/
    margin: 0;
    padding: 0;
}

.basicBorder{
	border: 2px solid black;
}

.centeredText{
	text-align: center;
}

.mainContainer{
	height: 100vh;
	background-color: rgb(50,50,50);
}

.gameContainer{
	display: grid;
	height: 100%;
	grid-template-rows: repeat(3,1fr);
	grid-template-columns: repeat(3,1fr);
	grid-template-areas: 
	". tile0 ."
	"tile1 track tile2"
	". tile3 ."
}

.tile{
	display: flex;
  	justify-content: center;
  	flex-direction: column;
}

.tile0{
	grid-area: tile0;
}

.tile1{
	grid-area: tile1;
}

.tile2{
	grid-area: tile2;
}

.tile3{
	grid-area: tile3;
}

.tracker{
	grid-area: track;
	display: flex;
  	justify-content: center;
  	flex-direction: column;
}